{% extends 'main/base.html' %}

{% block title %}
    Crear datos - EcoFuel
{% endblock %}

{% block content %}
<h2 class="text-center">{{ mensaje }}</h2>

<!--template es para despues de crear una clase nueva, mostrará los datos de la clase creada-->
<!--bloques if definen la clase de modelo que esta usando el view para mostrar la UI correpondiente-->
{% if modelo %}
  <h3 class="text-center">Detalles del Modelo</h3>
  <pre class="text-center">{{ modelo.describir }}</pre>  <!-- llama al metodo de clase describir -->
  <div class="row align-items-center">
    <a class="col" href="{% url 'cc:crear_datos' %}">
        <button type="button" class="btn btn-primary">Volver</button>
    </a>
    <a class="col" href="{% url 'cc:crear_modelo' %}">
        <button type="button" class="btn btn-primary">Añadir otro Modelo</button>
    </a>
  </div>
{% endif %}

{% if aeronave %}
  <h3 class="text-center">Detalles de la Aeronave</h3>
  <pre class="text-center">{{ aeronave.describir }}</pre>
  <div class="row align-items-center">
    <a class="col" href="{% url 'cc:crear_datos' %}">
        <button type="button" class="btn btn-primary">Volver</button>
    </a>
    <a class="col" href="{% url 'cc:crear_aeronave' %}">
        <button type="button" class="btn btn-primary">Añadir otra Aeronave</button>
    </a>
  </div> 
{% endif %}

{% if camion %}
  <h3 class="text-center">Detalles del Camión</h3>
  <pre class="text-center">{{ camion.describir }}</pre> 
  <div class="row align-items-center">
    <a class="col" href="{% url 'cc:crear_datos' %}">
        <button type="button" class="btn btn-primary">Volver</button>
    </a>
    <a class="col" href="{% url 'cc:crear_camion' %}">
        <button type="button" class="btn btn-primary">Añadir otro Camión</button>
    </a>
  </div>
{% endif %}

{% if usuario %}
  <h3 class="text-center">Detalles del Usuario</h3>
  <pre class="text-center">{{ usuario.describir }}</pre>  
  <div class="row align-items-center">
    <a class="col" href="{% url 'cc:crear_datos' %}">
        <button type="button" class="btn btn-primary">Volver</button>
    </a>
    <a class="col" href="{% url 'cc:crear_usuario' %}">
        <button type="button" class="btn btn-primary">Añadir otro Usuario</button>
    </a>
  </div>
{% endif %}


</a>
    
{% endblock %}