{% extends 'main/base.html' %}

{% block title %}
    Movimientos de combustible - EcoFuel
{% endblock %}

{% block content %}
    <h1 class="text-center">
        Movimientos de combustible
    </h1>

    <p class="text-center">
        Acá podrás crear y ver vales de combustible
    </p>
    <!-- columnas para seleccionar que hacer -->
    <div class="container text-center">
        <div class="row align-items-center">
          <a class="col" href="{% url 'cc:crear_vale' %}">
            <button class="btn btn-primary">Crear vale de combustible</button>
          </a>
          <a class="col" href="{% url 'cc:ver_vales' %}">
            <button class="btn btn-primary">Ver vales de combustible</button>
          </a>
          <a class="col" href="{% url 'cc:crear_datos' %}">
            <button class="btn btn-primary">Crear datos de combustible</button>
          </a>
        </div>
    </div>
    
{% endblock %}