{% extends 'main/base.html' %}

{% block title %}
    Crear Vale - EcoFuel
{% endblock %}

{% block content %}
    <h1>Crear Vale de Combustible</h1>

    <!-- se muestra el mensaje generado en views dependiendo de validez de formulario -->
    <div class="alert alert-info">
        {{ mensaje }}
    </div>

    <!-- botones para volver al sitio -->
    <div class="container_text_center">
        <div class="row align-items-center">
            <a href="{% url 'crear_vale' %}" class="col btn btn-primary">
                Volver al formulario
            </a>
            <a href="{% url 'index' %}" class="col btn btn-primary">
                Volver a inicio de la aplicación
            </a>
        </div>
    </div>
{% endblock %}