{% extends 'main/base.html' %}

{% block title %}
    Crear Vale - EcoFuel
{% endblock %}
<!--template form creación de vale de combustible-->
{% block content %}
    <h1>Crear vale de combustible</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- pone el formulario en el sitio -->
        
        <!-- si hay errores, muestra una alerta -->
        {% for field in form %}
            {% if field.errors %}
                <div class="alert alert-danger">
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}
    
{% endblock %}